<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" lang="vi">

<head>
    <meta charset="utf-8">
    <title>Condition - Softy Bakery</title>
    <title>condition - Softy Bakery</title>
    <th:block th:insert="~{layout :: css-link}"></th:block>
    <style>



    </style>
</head>

<body ng-app="app" ng-controller="UserPurchaseController" class="bg-light">
    <div th:insert="~{layout :: topbar}"></div>
    <div th:insert="~{layout :: navbar}"></div>
    <!-- Page Header Start -->
    <div class="container-fluid page-header py-6 wow fadeIn" data-wow-delay="0.1s">
        <div class="container text-center pt-5 pb-3">
            <nav aria-label="breadcrumb animated slideInDown">
            </nav>
        </div>
    </div>
    <!-- Page Header End -->
    <!-- purchase  -->
    <!-- Order Start -->
    <div class="container my-5">
        <div class="row">
            <!-- profile -->
            <div class="col-lg-3 p-4" style="border-radius: 10px; background-color: white;">
                <img th:src="${'/images/accountPhoto/'+user.photo}" class="card-img-top" style="border-radius: 8px;">
                <div class="card-body">
                    <p class="card-text"><a href="/profile"><strong th:text="${user.fullName}"
                                class="card-text"></strong></a></p>
                    <hr>
                    <p class="card-text"><Strong>Phone: </Strong><span th:text=" ${user.phoneNumber} "></span></p>
                    <p class="card-text"><strong>Address: </strong><span th:text=" ${user.address} "> </span></p>
                </div>
                <a href="/profile/edit">Edit Profile</a>
            </div>


            <!-- tablist -->
            <div class="col-lg-9 p-4">

                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <button class="tab nav-link" style="width: 100px;" ng-click="applyFilter('All')"
                            ng-class="{ 'active': filterOptions === 'All' }">FIND ALL</button>
                    </li>
                    <li class="nav-item" ng-repeat="statusOption in orderStatusOptions">
                        <button class="tab nav-link" style="width: 150px;" ng-click="applyFilter(statusOption)"
                            ng-class="{ 'active': filterOptions === statusOption }">{{statusOption}}</button>
                    </li>
                </ul>
                <table class="table table-hover bg-light tab-content">
                    <tr class="bg-primary text-white text-center">
                        <th>Product Name</th>
                        <th>Image</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Edit</th>
                    </tr>
                    <tr ng-repeat="oi in orderitems">
                        <td>{{oi.product.productName}}</td>
                        <td><img style="height:60px; border: 4px solid white; border-radius: 5px;"
                                ng-src="/images/{{oi.product.productImages[0].imageUrl}}"></td>
                        <td>{{oi.product.price | vndCurrency}}</td>
                        <td class="text-center">{{oi.quantity}}</td>
                        <td class="h3 pe-3">
                            <span class="d-flex">
                                <a href=""><i class="bi bi-dash"></i></a>
                                <a href=""><i class="bi bi-plus"></i></a>
                            </span>
                        </td>
                    </tr>
                </table>
            </div>


        </div>
    </div>
    <!-- Order End -->

    <div th:insert="~{layout :: footer}"></div>
    <div th:insert="~{layout :: copyright}"></div>
    <div th:insert="~{layout :: backtotop}"></div>
    <div th:insert="~{layout :: js-link}"></div>

</body>

</html>