<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" lang="vi">

<head>
    <meta charset="utf-8">
    <title>Condition - Softy Bakery</title>
    <title>condition - Softy Bakery</title>
    <th:block th:insert="~{layout :: css-link}"></th:block>
    <style>



    </style>
</head>

<body ng-app="app" ng-controller="OrderController">
    <div th:insert="~{layout :: topbar}"></div>
    <div th:insert="~{layout :: navbar}"></div>
    <!-- Page Header Start -->
    <div class="container-fluid page-header py-6 wow fadeIn" data-wow-delay="0.1s">
        <div class="container text-center pt-5 pb-3">
            <nav aria-label="breadcrumb animated slideInDown">
            </nav>
        </div>
    </div>
    <!-- Page Header End -->
    <!-- purchase  -->
    <!-- Order Start -->
    <div class="container my-5">
        <div class="row">
            <!-- profile -->
            <div class="col-lg-3 p-4" style="background-color: antiquewhite; ">
                <div class="card p-4">
                    <img th:src="${'/images/accountPhoto/'+user.photo}" class="card-img-top ">
                    <div class="card-body">
                        <p class="card-text"><a href="/profile"><strong th:text="${user.fullName}"
                                    class="card-text"></strong></a></p>
                        <a href="/profile/edit">Edit Profile</a>
                        <hr>
                        <p class="card-text"><Strong>Phone: </Strong><span th:text=" ${user.phoneNumber} "></span></p>
                        <p class="card-text"><strong>Addrest: </strong><span th:text=" ${user.address} "> </span></p>
                    </div>
                </div>
            </div>


            <!-- tablist -->
            <div class="col-lg-9 p-4">

                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="pill" href="#all">all</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="pill" href="#topay">topay</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="pill" href="#toship">toship</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="pill" href="#toreceive">toreceive </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="pill" href="#complete">complete</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="pill" href="#cancelled">cancelled </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="pill" href="#refund">refund </a>
                    </li>

                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    
                    <!-- tất cả -->
                    <div class="tab-pane container active" id="all" th:each="order : ${orderList}">
                        <div class="card">
                            <h5 class="card-header">${order.account.username}</h5>
                            <a href="product-detail">
                                <div class="card-body">
                                    <p>image here</p>
                                    <div class="m-2">
                                        <p class="card-texr">Phân loại: </p>
                                        <p class="card-text">Số lượng: </p>
                                        <p class="card-text float-end">giá tiền:</p>
                                    </div>
                                </div>
                            </a>
                            <hr class="m-2">
                            <div class="card-text">
                                <button type="button" class="btn btn-outline-primary float-end m-2">Mua lại</button>
                            </div>
                        </div>
                    </div>

                    <!-- chờ thanh toán -->
                    <div class="tab-pane container fade" id="topay">
                        

                    </div>

                    <!-- chờ vận chuyển -->
                    <div class="tab-pane container fade" id="toship">


                    </div>

                    <!-- đang giao -->
                    <div class="tab-pane container fade" id="toreceive">


                    </div>

                    <!-- hoàn thành -->
                    <div class="tab-pane container fade" id="complete">


                    </div>

                    <!-- đã hủy -->
                    <div class="tab-pane container fade" id="cancelled">
                        

                    </div>

                    <!-- hoàn tiền/ trả hàng -->
                    <div class="tab-pane container fade" id="refund">
                        

                    </div>
                </div>
            </div>


        </div>
    </div>
    <!-- Order End -->

    <div th:insert="~{layout :: footer}"></div>
    <div th:insert="~{layout :: copyright}"></div>
    <div th:insert="~{layout :: backtotop}"></div>
    <div th:insert="~{layout :: js-link}"></div>

</body>

</html>